<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <div class="photo">
        <center>
          <img class="photo" src="/public/images/bhoomika.png" alt="" />
        </center>
      </div>
      <h1>
        <a href="{{ site.baseurl }}/">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

      <!-- <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub project</a> -->
    </nav>
    <h1 style="color: #6a9fb5; text-align:center;">
      <a href="https://www.linkedin.com/in/bhoomika-agarwal/" ><i class="fab fa-linkedin"></i></a>
      <a href="https://github.com/bhoom10"><i class="fab fa-github-square"></i></a>
      <a href="https://twitter.com/myriadbhoom" ><i class="fab fa-twitter-square"></i></a>
      <a href="mailto:bhoomika10@gmail.com"><i class="fas fa-envelope"></i></a>
      <a href="https://www.facebook.com/bhoomika.agarwal.5"><i class="fab fa-facebook-square"></i></a>
    </h1>
    <!-- <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p> -->
    <p>♡{{ site.time | date: '%Y' }} Copying is an act of love. Please copy. </p>

  </div>
</div>
