---
layout: default
---

<div class="page">
  <h1 class="page-title">{{ page.title }}</h1>
  {{ content }}
</div>


<footer>
  <h1 style="color: #6a9fb5;text-align: center; padding-left: 45%;">
    <a href="https://www.linkedin.com/in/bhoomika-agarwal/" ><i class="fab fa-linkedin"></i></a>&ensp;
    <a href="https://github.com/bhoom10"><i class="fab fa-github-square"></i></a>&ensp;
    <a href="https://twitter.com/myriadbhoom" ><i class="fab fa-twitter-square"></i></a>&ensp;
    <a href="mailto:bhoomika10@gmail.com"><i class="fas fa-envelope"></i></a>&ensp;
    <a href="https://www.facebook.com/bhoomika.agarwal.5"><i class="fab fa-facebook-square"></i></a>&ensp;
    <a href="https://medium.com/@bhoomikaagarwal" ><i class="fab fa-medium"></i></a>&ensp;
  </h1>
</footer> 
